<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alberto</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="indexController.js" defer></script>
</head>

<body ng-app="myApp" ng-controller="MyController">
  <header>
    <div class="alberto__navBar" id="navbar">
      <div class="alberto__navBar-links">
        <div class="data-dropdown" data-dropdown>
          <li><a href="#/!" data-dropdown-link>HOME</a></li>
          <div class="alberto__navBar-links__dropdown">
            <div>
              <a href="" ng-click="gotoCitizenCollection()">PROMASTER COLLECTION</a>
              <a href="" ng-click="GotoEssence()">SWISS COLLECTION</a>
            </div>
          </div>
        </div>
        <div class="data-dropdown" data-dropdown>
          <li><a href="#!about" data-dropdown-link>ABOUT</a></li>
          <div class="alberto__navBar-links__dropdown">
            <div>
              <a ng-click="GotoBlog()">OUR HISTORY</a>
            </div>
          </div>
        </div>
        <div class="data-dropdown" data-dropdown>
          <li><a data-dropdown-link>SERVICE</a></li>
          <div class="alberto__navBar-links__dropdown">
            <div>
              <a href="#!repair">REPAIR</a>
              <a href="#!appraisal">APPRAISAL</a>
            </div>
          </div>
        </div>
        <div class="data-dropdown" data-dropdown>
          <li><a href="#!shop" data-dropdown-link>SHOP</a></li>
          <div class="alberto__navBar-links__dropdown">
            <div class="data-dropdown_shop" shop-dropdown>
              <a shop-dropdown-link>WATCHES BY STYLE</a>
              <div class="data-dropdown_shop-link">
                <a ng-click="OpenWatch('SPORT')">SPORT</a>
                <a ng-click="OpenWatch('AUTOMATIC')">AUTOMATIC</a>
                <a ng-click="OpenWatch('SMART')">SMART</a>
                <a ng-click="OpenWatch('DIGITAL')">DIGITAL</a>
                <div class="data-dropdown_shop-link-overlay"></div>
              </div>
            </div>
            <div class="data-dropdown_shop" shop-dropdown>
              <a shop-dropdown-link>BRANDS</a>
              <div class="data-dropdown_shop-link">
                <a ng-click="OpenWatch('OMEGA')">OMEGA</a>
                <a ng-click="OpenWatch('HUBLOT')">HUBLOT</a>
                <a ng-click="OpenWatch('CITIZEN')">CITIZEN</a>
                <a ng-click="OpenWatch('ROLEX')">ROLEX</a>
                <div class="data-dropdown_shop-link-overlay"></div>
              </div>
            </div>
            <div class="data-dropdown_shop" shop-dropdown>
              <a shop-dropdown-link>LUXURY</a>
              <div class="data-dropdown_shop-link">
                <a ng-click="OpenWatch('CITIZEN')">CITIZEN</a>
                <a ng-click="OpenWatch('ROLEX')">ROLEX</a>
                <div class="data-dropdown_shop-link-overlay"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="alberto_navBar-logo">
        <a href="#/!">Alberto</a>
      </div>
      <!-- mobile menu -->
      <div id="menu-icon" class="menu-icon" ng-click="MobileMenu()">
        <i class="bx bx-menu"></i>
      </div>
      <div class="m-navbar" id="m-navbar">
        <div class="m-close-button" ng-click="CloseMenuMobile()">
          <i class="bx bx-x"></i>
        </div>
        <div m-dropdown class="m-navbar-link">
          <div class="pri-link">
            <a href="">HOME</a>
            <i m-dropdown-arrow class="bx bxs-chevron-down"></i>
          </div>
          <div class="snd-links">
            <a href="" ng-click="gotoCitizenCollection()">PROMASTER COLLECTION</a>
            <a href="" ng-click="GotoEssence()">SWISS COLLECTION</a>
          </div>
        </div>
        <div m-dropdown class="m-navbar-link">
          <div class="pri-link">
            <a href="#!about">ABOUT</a>
            <i m-dropdown-arrow class="bx bxs-chevron-down"></i>
          </div>
          <div class="snd-links">
            <a href="" ng-click="GotoBlog()">OUR HISTORY</a>
          </div>
        </div>
        <div m-dropdown class="m-navbar-link">
          <div class="pri-link">
            <a href="">SERVICES</a>
            <i m-dropdown-arrow class="bx bxs-chevron-down"></i>
          </div>
          <div class="snd-links">
            <a href="#!repair">REPAIR</a>
            <a href="#!appraisal">APPRAISAL</a>
          </div>
        </div>
        <div m-dropdown class="m-navbar-link">
          <div class="pri-link">
            <a href="#!shop">SHOP</a>
            <i m-dropdown-arrow class="bx bxs-chevron-down"></i>
          </div>
          <div class="snd-links">
            <div m-snd-dropdown class="mobile-dropdown">
              <div class="m-shop-pri-link">
                <a href="#">WATCHES BY STYLE</a>
                <i m-snd-btn class="bx bxs-chevron-down"></i>
              </div>
              <div class="mobile-dropdown-link">
                <a ng-click="OpenWatch('SPORT')">SPORT</a>
                <a ng-click="OpenWatch('AUTOMATIC')">AUTOMATIC</a>
                <a ng-click="OpenWatch('SMART')">SMART</a>
                <a ng-click="OpenWatch('DIGITAL')">DIGITAL</a>
              </div>
            </div>
            <div m-snd-dropdown class="mobile-dropdown">
              <div class="m-shop-pri-link">
                <a href="#">BRANDS</a>
                <i m-snd-btn class="bx bxs-chevron-down"></i>
              </div>
              <div class="mobile-dropdown-link">
                <a ng-click="OpenWatch('OMEGA')">OMEGA</a>
                <a ng-click="OpenWatch('HUBLOT')">HUBLOT</a>
                <a ng-click="OpenWatch('CITIZEN')">CITIZEN</a>
                <a ng-click="OpenWatch('ROLEX')">ROLEX</a>
              </div>
            </div>
            <div m-snd-dropdown class="mobile-dropdown">
              <div class="m-shop-pri-link">
                <a href="#">LUXURY</a>
                <i m-snd-btn class="bx bxs-chevron-down"></i>
              </div>
              <div class="mobile-dropdown-link">
                <a ng-click="OpenWatch('CITIZEN')">CITIZEN</a>
                <a ng-click="OpenWatch('ROLEX')">ROLEX</a>
              </div>
            </div>
          </div>
        </div>
        <div class="m-navbar-link">
          <div class="pri-link">
            <a ng-click="GotoFooter()">CONTACT</a>
            <!-- <i m-dropdown-arrow class=" bx bxs-chevron-down"></i> -->
          </div>
          <!-- <div class="snd-links">
              <a href="#">PROMASTER COLLECTION</a>
              <a href="#">SWISS COLLECTION</a>
            </div> -->
        </div>
        <div id="m-card" class="m-navbar-link">
          <div class="pri-link">
            <a>CARD</a>
            <!-- <i m-dropdown-arrow class="bx bxs-chevron-down"></i> -->
          </div>
          <!-- <div class="snd-links">
              <a href="#">PROMASTER COLLECTION</a>
              <a href="#">SWISS COLLECTION</a>
            </div> -->
        </div>
      </div>

      <!-- navbar account -->
      <div class="alberto_navBar-account">
        <div class="alberto__navBar-contacts">
          <a ng-click="GotoFooter()">CONTACTS</a>
        </div>
        <div class="alberto__navBar-signIn">
          <button ng-click="MyForm()" href="#">SIGN IN</button>
          <div id="alberto__form" class="alberto__form">
            <div id="form-overlay" class="overlay"></div>

            <div id="data-popup" class="form-field">
              <div class="alberto__form-buttons">
                <div id="alberto__form-buttons_signIn" class="alberto__form-buttons_signIn">
                  <button id="defaultOpen" ng-click="SignIn()">Sign In</button>
                </div>

                <div id="alberto__form-buttons_signUp" class="alberto__form-buttons_signUp">
                  <button ng-click="SignUp()">Sign Up</button>
                </div>
                <div class="alberto__form-buttons_close">
                  <i ng-click="CloseForm()" class="bx bx-x"></i>
                </div>
              </div>

              <div id="alberto__form-signIN" class="alberto__form-signIN">
                <form class="alberto__form-container_signIn">
                  <input type="text" placeholder="Username" required />
                  <input type="password" placeholder="Password" required />
                  <div class="alberto__form-signIN-forgot">
                    <div><a href="#">Forgot Password?</a></div>
                    <div>
                      <span>Remember Me <input type="checkbox" /></span>
                    </div>
                  </div>
                  <button type="submit">Login</button>
                </form>
              </div>

              <div id="alberto__form-register" class="alberto__form-register">
                <form class="alberto__form-container_signUp">
                  <input type="text" placeholder="Username" required />
                  <input type="password" placeholder="Password" required />
                  <input type="password" placeholder="Confirm Password" required />
                  <input type="email" placeholder="Your Email" required />

                  <div class="alberto__form-register_confirm">
                    <p>
                      <input type="checkbox" required />
                      I agree that my submitted data is being collected and
                      stored. For further details on handling user data, see
                      our
                      <span>Privacy Policy</span>.
                    </p>
                  </div>
                  <button type="submit">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="alberto__navBar-cart">
          <a href="#!check-out">CART ({{carts.length}})</a>
        </div>
      </div>
    </div>
  </header>

  <div ng-view></div>

  <footer class="section__padding" id="footer">
    <div class="alberto-contact">
      <div class="contact-subscribe">
        <h3>
          Sign up for our newsletter to receive special offers, news and great
          sales notifications.
        </h3>
        <form action="#">
          <div class="contact-form" class="div">
            <input type="text" placeholder="Enter your email address" required />
            <button>SUBSCRIBE</button>
          </div>
        </form>
      </div>
      <div class="contact-data">
        <div class="contact-links">
          <h3>LINK</h3>
          <a href="#">HOME</a>
          <a href="#">BLOG</a>
          <a href="#">SHOP</a>
          <a href="#">SERVICE</a>
        </div>
        <div class="contact-links">
          <h3>INFO</h3>
          <a href="#">TEAM</a>
          <a href="#">OUR HISTORY</a>
          <a href="#">OUR MISSION</a>
          <a href="#">CONTACTS</a>
        </div>
        <div class="contact-links">
          <h3>SOCIALS</h3>
          <a href="#">INSTAGRAM</a>
          <a href="#">PINTEREST</a>
          <a href="#">FACEBOOK</a>
          <a href="#">INSTAGRAM</a>
        </div>
      </div>
      <div class="contact-maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d979.8004881981484!2d106.678356!3d10.795839!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabc7e6f60c650c30!2sMysterySpa!5e0!3m2!1sen!2sus!4v1658728958853!5m2!1sen!2sus"
          width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="copy-right">
      <p>1<sup>+</sup> Team © 2022. All Rights Reserved.</p>
    </div>
  </footer>
  <div id="scroll-top" ng-click="scrollTop()" class="move-to-top">
    <i class="bx bx-chevron-up"></i>
  </div>
</body>

</html>